@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300);

/** GENERAL **/
body {
  background: #ffce21;
  text-align: center;
}

hr {
  margin: 2rem 0;
}

/** TYPOGRAFIE **/

.main-font {
 font-family: 'Dancing Script', cursive; 
}

.sub-font{
  font-family: 'Josefin Sans', sans-serif;
}

h1,h2 {
  font-family: 'Dancing Script', cursive;
  margin: 1rem 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h1::first-letter{
  font-size: 130%;
}

h2 {
  font-size: 2rem;
}

h3,
.character,
button {
  font-size: 1.5rem;
}

.character{
  font-family: 'Josefin Sans', sans-serif;
}



/** BOARD **/

#overlay{
  position: fixed;
  background: #ffce21;
  text-align: center;
  color: white;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

#answer-overlay{
  display: none;
  position: absolute;
/*  background: rgba(255,206,33,.4);*/
  box-shadow: 0 10px 6px -6px #777;
  background: red;
  color: white;
  top:30%;
  bottom:40%;
  left: 0;
  right: 0;
}

#answer-overlay h2{
  color: black;
  font-size: 10rem;
}

.container{
  max-width: 960px; 
  margin:0 auto;  
}


#board {
  width: 100%;
  display: inline-block;
}

#info-box{
  width: 18%;
  background:#FFEBA6;
  display: inline-block;
  vertical-align: top;
}

#info-box {
  display: inline-block;
}

#question-box {
  margin: 2rem;
  display: block;
}

form {
  font-family: 'Montserrat', sans-serif;
}


button {
  margin: 2rem;
  padding: 5px 10px;
}

#start{
  display: none;
}

.margin {
  margin: 2rem 0px;
}

/* Characters */

.character,
.character_list{
  cursor: pointer;
  background:#0097A7;
  background: url("../pictures/alex.png"); 
  background-size: cover;
  color: white;
  width: 11%;
  padding: 9% 0;
  margin: .5%;
  display: inline-block;
  text-align: center;
}

.character:hover{
  background-size: 120%;

}

.character::first-letter,
.character_list::first-letter,
#players_choice:first-letter {
  text-transform: uppercase;
}

.side_pic{
  padding:4.5rem 2.3rem;
}

