@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/** GENERAL **/
body {
  background: #E0F7FA;
  text-align: center;
}

/** TYPOGRAFIE **/

h1,h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3,
.character,
#ask {
  font-size: 1.5rem;
}

.character{
  font-family: 'Montserrat', sans-serif;
}

/** BOARD **/

#board {
  margin: auto;
  max-width: 960px;
  display: block;
}

#question-box {
  margin: 2rem;
  display: block;
}

form {
  font-family: 'Montserrat', sans-serif;
}

#ask {
  margin: 2rem;
  padding: 5px 10px;
}

.character{
  cursor: pointer;
  background:#0097A7;
/*  background: url("../pictures/alex.png");*/ 
  background-size: cover;
  color: white;
  width: 11.5%;
  padding: 9% 0;
  margin: .5%;
  display: inline-block;
  text-align: center;
}
